*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --text-color: rgb(13, 141, 141);
}
body {
  text-align: center;
  background-color: rgba(227, 253, 250, 0.377);
  height: 90vh;
}
/* setting background */
.container::after,
.container::before {
  content: "";
  height: 135%;
  position: absolute;
  left: 0;
  top: 0;
}
.container::before {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 255, 0.356),
    rgba(0, 255, 255, 0.656),
    rgba(0, 255, 255)
  );
  z-index: -2;
}
.container::after {
  width: 70%;
  background: linear-gradient(
    to bottom,
    antiquewhite,
    rgba(250, 235, 215, 0.527),
    rgba(250, 235, 215, 0.418)
  );
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  z-index: -1;
}
/* setting the header */
.container header {
  width: 90vw;
  margin: 4rem 0;
  position: relative;
  background-color: rgba(127, 255, 212, 0.678);
  clip-path: polygon(0 0, 100% 0, 98.5% 100%, 0 100%);
}
.container header h1 {
  font-size: clamp(2rem, 1.5rem + 2vw, 5rem);
  text-align: center;
  color: var(--text-color);
}

/* turning the picture */
.verti {
  transform: rotate(90deg);
}

/* setting the body */
.container {
  max-width: 90vw;
  min-height: 50%;
  height: 115vh;
  margin: 0;
  overflow: hidden;
}
.container p {
  display: none;
}
.container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
  position: relative;
  margin-left: 8rem;
}
.container img {
  max-height: 200px;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
/* setting the hover */
.container li:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
  z-index: 1;
}
.container li:hover p {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer p {
  color: var(--text-color);
  padding: 3rem;
  text-align: right;
}
@media screen and (min-width: 786px) {
  .container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container::after,
  .container::before {
    height: 130%;
  }
}
